[submodule "bundle/test/catch"]
	path = bundle/catch
	url = git://github.com/philsquared/Catch
[submodule "cmake"]
	path = bundle/cmake_tools
	url = git://github.com/mikezackles/cmake_tools
[submodule "bundle/hana"]
	path = bundle/hana
	url = git://github.com/boostorg/hana
[submodule "bundle/gsl"]
	path = bundle/gsl
	url = git://github.com/Microsoft/GSL
[submodule "bundle/lambda_overload"]
	path = bundle/lambda_overload
	url = git@github.com:mikezackles/lambda_overload
[submodule "bundle/silence_dependencies"]
	path = bundle/silence_dependencies
	url = git@github.com:mikezackles/silence_dependencies
